@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Dashboard</h1>
<hr/>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Applications [@Model.ApplicationCount]
            </div>
            <div class="card-body">
                <a asp-page="/Applications/Index" class="btn btn-outline-primary btn-block"><i class="fas fa-server"></i> Show applications</a>
                <a asp-page="/Applications/Edit" class="btn btn-outline-primary btn-block"><i class="fas fa-plus"></i> New application</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Scopes [@Model.ScopeCount]
            </div>
            <div class="card-body">
                <a asp-page="/Scopes/Index" class="btn btn-outline-primary btn-block"><i class="fas fa-cog"></i> Show scopes</a>
                <a asp-page="/Scopes/Edit" class="btn btn-outline-primary btn-block"><i class="fas fa-plus"></i> New scope</a>
            </div>
        </div>
    </div>
</div>
