@page
@model IndexModel
@{
    ViewData["Title"] = "Scopes";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Scopes</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <a asp-page="/Scopes/Edit" class="btn btn-outline-primary mb-3"><span class="fas fa-plus"></span> New Scope</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var scope in Model.Scopes)
                {
                    <tr>
                        <td>@scope.Name</td>
                        <td class="text-right">
                            <a class="btn btn-primary" asp-page="/Scopes/Edit" asp-route-id="@scope.Id"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" asp-page="/Scopes/Delete" asp-route-id="@scope.Id"><span class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
